@model yemeksepeti.Models.restoranlar

@{
    Layout = "~/Views/Shared/RestorantLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sil</title>
</head>
<body>
    <h3>Silmek istediğinize emin misiniz?</h3>
    <div>
        <h4>Restoranlar</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.restoranadı)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.restoranadı)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.minimumsiparis)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.minimumsiparis)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.restoranpuan)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.restoranpuan)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.acıklama)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.acıklama)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-default" /> |
                @Html.ActionLink("Listeye Dön", "Index")
            </div>
        }
    </div>
</body>
</html>
