@model IEnumerable<yemeksepeti.Models.restoranlar>

@{
    Layout = "~/Views/Shared/RestorantLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Yeni Oluştur", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.restoranadı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.minimumsiparis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.restoranpuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acıklama)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.restoranadı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minimumsiparis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.restoranpuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.acıklama)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id=item.id }) |
                @Html.ActionLink("Detaylar", "Details", new { id=item.id }) |
                @Html.ActionLink("Sil", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
